<nav>
  <h1 class="m-left">Product Managemnt Dashboard</h1>
  <button (click)="logout()" class="logout">LOGOUT</button>
</nav>

<section>
    <div class="fwrap">
        <form (ngSubmit)="PostNewProd(pnp.value)" #pnp="ngForm" >
            <h1>ADD NEW PRODUCT</h1>
            <input type="text" name="name" placeholder="Enter Product Name" ngModel="{{prodToUpdt?.name}}" autocomplete="on">
            <input type="text" name="category" placeholder="Enter Category" ngModel="{{prodToUpdt?.category}}" autocomplete="on">
            <input type="number" name="price" placeholder="Enter Price" ngModel="{{prodToUpdt?.price}}" autocomplete="on">
            <input type="text" name="image" placeholder="Enter Image URL..." ngModel="{{prodToUpdt?.image}}" autocomplete="on">
            <input type="submit" value="ADD PRODUCT">
            <button class="btnexel" (click)="ExportToExel()">Export To Exel</button>
        </form>
    </div>
</section>

<section>
    <div class="wrap" id="exel-table">
        <div class="box" *ngFor="let prods of prods" >
            <img src="{{prods.image}}" alt="">
            <h1>{{prods.name}}</h1>
            <h4>Category : {{prods.category}}</h4>
            <h2>Price : {{prods.price}}$</h2>
            <button (click)="DelProd(prods._id)" class="del">DELETE</button>
            <button class="update" (click)="PrefillUpd(prods._id)">UPDATE</button>
        </div>
    </div>
</section>
